.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* MEDIA QUERY */

/* Breakpoint 1024px */
@media all and (max-width: 1024px) {
  .row {
    width: 100%;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    width: calc(50% - 40px);
    padding: 0 10px;
  }

  #lezioni img[src*="maps"] {
    width: 40%;
    height: auto;
  }

  #lezioni img[src*="screen"] {
    width: 60%;
    height: auto;
    padding-top: 3%;
  }

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    padding: 0 5px;
    width: calc((100% - 30px) / 3);
  }

  #steps img {
    width: 50%;
    height: auto;
    margin-top: 8%;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin-top: 7%;
  }

  #why img {
    width: 15%;
    height: auto;
  }
}

/* Breakpoint 768px */
@media all and (max-width: 768px) {
  .row {
    width: 100%;
  }

  #lezioni img[src*="maps"] {
    width: 40%;
    height: auto;
  }

  #lezioni img[src*="screen"] {
    width: 60%;
    height: auto;
    padding-top: 3%;
  }

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    width: 80%;
    float: none;
    margin: auto;
  }

  #steps img {
    width: 24%;
    height: auto;
    margin-top: 8%;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin-top: 10%;
  }

  #why img {
    width: 18%;
    height: auto;
  }
}

/* Breakpoint 420px */
@media all and (max-width: 420px) {
  .row {
    width: 100%;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    float: none;
    margin: auto;
    padding: 0;
  }

  #lezioni img[src*="maps"] {
    width: 30%;
    height: auto;
  }

  #lezioni img[src*="screen"] {
    width: 45%;
    height: auto;
    margin-top: 10%;
  }

  #steps img {
    width: 20%;
    height: auto;
    margin-top: 10%;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin-top: 10%;
  }

  #why img {
    width: 10%;
    height: auto;
  }
}
